%main-button {
    color: rgba(255, 255, 255, 0.80);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    border-radius: 107.631px;
    background: #DD2242;
    border: none;
}