.original {
    background-image: url(../img/mobile/original-bkg-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    .original-title {
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        line-height: 46px;
        padding-top: 171px;
    }

    .original-p {
        color: #6F7787;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.5px;
        padding: 40px 0;
    }
.original-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
    .main-btn {
        @extend %main-button;
        padding: 22px 80px;
        margin-bottom: 116px;
    }

    @media screen and (min-width: 480px) {}

    @media screen and (min-width: 768px) {
        background-image: url(../img/desktop/original-bkg.jpg);
    }

    @media screen and (min-width: 1200px) {
        .original-title {
            padding: 0 400px;
            padding-top: 250px;
        }
        .original-p {
            padding: 36px 500px;
        }
    }
}