.relax {
    background: #020C21;
    padding-top: 40px;

    .relax-titles {
        color: #FFF;
        font-size: 40px;
        font-weight: 700;
        line-height: 46px;
        padding-top: 34px;
    }

    .relax-p {
        color: #E0E0E0;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.5px;
    }

    .btn-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-btn {
        @extend %main-button;
        padding: 22px 80px;
        margin: 60px 0;
    }

    @media screen and (min-width: 480px) {}

    @media screen and (min-width: 768px) {
        display: none;
    }

    @media screen and (min-width: 1200px) {
        display: block;
        padding-top: 160px;

        .relax-it {
            display: flex;
        }

        .relax-titles {
            width: 480px;
        }

        .relax-p {
            width: 400px;
        }

        .rel-box {
            margin-left: 130px;
        }

        .relax-item2 {
            display: none;
        }

        .rel-b {
            margin-right: 130px;
        }

        .rel-i3 {
            margin-top: 200px;
        }
        .relax-pict3 {
            height: 460px;
            margin-bottom: 300px;
        }
    }

}